<!DOCTYPE html>
<html>
	<head>
		<title>Fridge</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<script src="./js/addItem.js"></script>
	</head>
	<body class="pg">
		<a href="./home.html" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Home</a>
		<div class="container">
		<header class=" title">My Fridge</header>
		<div class="fridge">
			<label for=""> Upload an image of your fridge!</label>
			<div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                <div class="input-group-append">
				</div>
			</div>
			<br>
			<div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
			<br>
		<ul id="contents"></ul>
		<div>
			<input class="bar" type="text" id="itemToAdd">
		<div class ="bar2 btn-sm btn-secondary" onclick="addItem()">Add </div>
		</div>
		<div id="bottom"></div>
	</body>
</html>
