<!DOCTYPE html>
<html>
	<head>
		<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-52WBQLW');</script>
		<!-- End Google Tag Manager -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159663466-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-159663466-1', { 'optimize_id': 'GTM-5HQQVZM'});
		</script>
		
		<title>FridgeBuddies</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-159663466-1', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- End Google Analytics -->
		
	</head>
	<body class="home-body container container2">
		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52WBQLW"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
                <header class="text-center headtitle font2">FridgeBuddy</header>
				<br><br>

		<!--<div class="container">
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-3">
					<a href="freezer.html">
						<img class="home" src="images/freezer.png">
					</a>
					<a href="pantry.html">
						<img class="home" src="images/pantry.png">
					</a>
					<br>
					<a href="fridge.html">
						<img class="home" src="images/fridge.png">
					</a>
					<br>
					<br>
					<button type="button">
						<a href="recipes.html">Generate Recipes</a>
					</button>
					<button type="button">
						<a href="./list.html">Create/View Shopping List</a>
					</button>
					<button  id="right" class="w3-button w3-xlarge w3-circle w3-black">
						<a href="add.html">+</a>
					</button>
				</div>
				<div class="col-xs-4"></div>
			
		</div> 
		<div class="grid">
		<a href="./fridge.html" class="">Fridge</a> 
		<a href="./freezer.html" class="btn btn-primary icon">Freezer</a> 
		<a href="./pantry.html" class="btn btn-primary icon">Pantry</a> 
		<a href="./recipes.html" class="btn btn-primary icon">Recipes</a>  
		<a href="./add.html" class="btn btn-primary icon">Quick Add</a> 
		<div class="icon"><img class="fridgeImg" src="fridge.png" alt=""></div>
		</div>-->
		<div class="containerGrid">
			<a href="/fridgeB"><div class = "select btn btn-outline-dark">Fridge</div></a>
			<a href="/freezerB"><div class = "select btn btn-outline-dark">Freezer</div></a>
			<a href="/pantryB"><div class = "select btn btn-outline-dark">Pantry</div></a>
			<!--<div class = "select btn btn-outline-dark"><a href="/recipes">Recipes</a></div>-->
			<a href="/addB"><div class = "select btn btn-outline-dark">+</div></a>
		  </div>
	</body>
</html>
