<!DOCTYPE html>
<html>
	<head>
		<title>FridgeBuddies</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Paytone+One&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	</head>
	<body class="home-body container">
                <header class="text-center headtitle">FridgeBuddy</header>
		<div class="bubble"><img class="bubbleImg" src="./images/textBubble.png" alt=""> </div>
		<div class="container">
			<div class="row">
			  <div class="col"></div>
			  <a href="/freezerB"><img class="freezer" src="./images/freezerNew.png" alt=""></a>
			  <div class="col">
				<a href="/pantry"><img class="pantry" src="./images/cupboard.jpg" alt=""></a>
			  </div>
			  <div class="w-100"></div>
			  <div class="col">
				  
			  </div>
			  <a href="/fridge"><img class ="fridge"src="./images/fridgeNew.png" alt=""></a>
			  <div class="col">
				 
			  </div>
			  
			  <div class="w-100">
			  </div>
			  <div class="col">
				
			  </div>
			  <div class="col choice text-left"> 
				<a href="/add" class="btn btn-primary adder">Quick Add</a> 
			  </div>
			</div>
		  </div>
	</body>
</html>
